@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
body {
    margin: 0;
    min-width: 250px;
}
  
* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}
  
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}
  
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
  
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 13.5px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
  
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 20px 12px 20px;
}
  
.close:hover {
    background-color: red;
    color: white;
}

.header {
    background-color: #4169e1;
    padding: 20px 40px;
    color: white;
    text-align: center;
    position: sticky; 
    top: 0;
    z-index: 1;
}

.header h2 {
    padding-bottom: 13px;
    font-size: 35px;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}
  

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #a1caf1;
    color: #fff;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
  
.addBtn:hover {
    background-color: #4682b4;
    font-weight: bold;
}